@{
    Layout = @"/_Layout.cshtml";
    string title = Model.String("Title");
    string lead = Model.String("Lead");
    string author = Model.String("Author");
    DateTime published = Model.Get<DateTime>("Published");
    string description = Model.String("Description");
    string imagePath = Model.String("Image");
}

@section Metadata {
<meta property="og:title" content="@title"></meta>
<meta property="og:description" content="@description">
<meta name="description" content="@description">
}

<div class="content">
<h1>@title</h1>
<div class="inline-pic small">
    <img src="@imagePath" alt="Pic for Blog Post" />
</div>
<h2>@lead</h2>
<div>Published on @published.ToLongDateString(Context)</div>
<div>By @author</div>
@RenderBody()
</div>