@{
    Layout = @"/_Layout.cshtml";
    string title = Model.String("Title");
    string lead = Model.String("Lead");
    string author = Model.String("Author");
    DateTime published = Model.Get<DateTime>("Published");
    string imagePath = Model.String("Image");
}

@section Metadata {
<meta property="og:title" content="@title - MJS Works"></meta>
<meta property="og:description" content="@lead">
<meta name="description" content="@lead">
}

<div class="content postArticle">
    <h2>@title</h2>
    <div class="inline-pic small">
        <img src="@imagePath" alt="Pic for Blog Post" />
    </div>
    <div class="postText">
        @RenderBody()
    </div>
    <div class="postPublication">Published on @published.ToLongDateString(Context)</div>
    <div class="postAuthorBy">By @author</div>
</div>