@{
    Layout = @"/_Layout.cshtml";
    string title = Model.String("Title");
    string description = Model.String("Description");
}

@section Metadata {
<meta property="og:title" content="@title"></meta>
<meta property="og:description" content="@description">
<meta name="description" content="@description">
}

<div class="content postIndex">
    <h2 class="pageTitle">@title</h2>
    <p class="pageSubTitle">@description</p>
@{
    foreach (IDocument post in Model.DocumentList("PageDocuments"))
    {
        string lead = post.String("Lead");
        string postTitle = post.String("Title");
        DateTime published = post.Get<DateTime>("Published");
        string imagePath = post.String("Image");
        var thumbnailImageFile = imagePath.Substring(0, imagePath.Length - 4);
        thumbnailImageFile = $"{thumbnailImageFile}-thumbnail.jpg";
        var relativeFilePathBase = post.String("RelativeFilePathBase");
        <div class="postSummary">
            <div class="postPic">
                <a href="/@(relativeFilePathBase).html">
                    <img src="@thumbnailImageFile" alt="Pic for Blog Post" />
                </a>
            </div>
            <div class="postSynopsis">
                <div class="postTitle"><a href="/@(relativeFilePathBase).html"><h3>@postTitle</h3></a></div>
                <div class="postLead">@lead</div>
                <div class="postPublication">Posted on @published.ToLongDateString(Context)</div>
            </div>
        </div>
        <hr />
    }

    var currentPage = Model.Get<int>("CurrentPage");
    <ul class="actions">
        @if(Model.Bool("HasPreviousPage"))
        {
            var prevPage = currentPage - 1;
            var prevPageLink = prevPage <= 1 ? "/blog/index.html" : $"/blog/index-{prevPage}.html";
            <li>
                <a href="@prevPageLink" class="button"><span aria-hidden="true">&larr;</span> Newer</a>
            </li>
        }                
        @if(Model.Bool("HasNextPage"))
        {
            var nextPage = currentPage + 1;
            var nextPageLink = $"/blog/index-{nextPage}.html";
            <li>
                <a href="@nextPageLink" class="button">Older <span aria-hidden="true">&rarr;</span></a>
            </li>
        }
    </ul>    

}

</div>

@{ IgnoreBody(); }