@{
    Layout = @"/_Layout.cshtml";
    string title = Model.String("Title");
    string lead = Model.String("Lead");
    string author = Model.String("Author");
    DateTime published = Model.Get<DateTime>("Published");
    string imagePath = Model.String("Image");
    string imageWidth = Model.String("BlogImageWidth");
    string imageHeight = Model.String("BlogImageHeight");
    string imageMimeType = Model.String("BlogImageMimeType");
    var thumbnailImageFile = imagePath.Substring(0, imagePath.Length - 4);
    thumbnailImageFile = $"{thumbnailImageFile}-thumbnail.jpg";
}

@section Metadata {
<meta property="og:title" content="@title"></meta>
<meta property="og:description" content="@lead">
<meta property="og:image" content='@Context.GetLink(imagePath, true)'>
<meta property="og:image:secure_url" content='@Context.GetLink(imagePath, true)'>
<meta property="og:image:type" content="@imageMimeType">
<meta property="og:image:alt" content="@title">
<meta property="og:image:width" content="@imageWidth">
<meta property="og:image:height" content="@imageHeight">
<meta name="description" content="@lead">
}

<div class="content postArticle">
    <div class="postPic">
        <img src="@thumbnailImageFile" alt="Pic for Blog Post" />
    </div>
    <div class="postTitle">@title</div>
    <div class="postText">
        @RenderBody()
    </div>
    <div class="postPublication">Published on @published.ToLongDateString(Context)</div>
    <div class="postAuthorBy">By @author</div>
</div>