<!DOCTYPE html>
<html lang="en">
<head>
  @{
      string title = Model.String("Title");
      string host = Model.String("Host");
      string googleAnalyticsId = Model.String("MjsWorks-GoogleAnalyticsId");
      string saleBanner = Model.String("MjsWorks-SaleBanner");
  }
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  @RenderSection("Metadata", false)
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/all.min.css?2018041701">
</head>
<body>
<div class="header">MJS Works</div>
<nav class="nav-collapse">
  <ul>
@{
    var pages = new []
    {
        new { Title = "Artist Bio", Link = Context.GetLink("/index.html"), LargerBanner = true},
        new { Title = "Paintings", Link = Context.GetLink("paintings.html"), LargerBanner = true},
        new { Title = "Feathers", Link = Context.GetLink("feathers.html"), LargerBanner = true},
        new { Title = "Shows", Link = Context.GetLink("shows.html"), LargerBanner = false},
        new { Title = "Buy", Link = Context.GetLink("forpurchase.html"), LargerBanner = false},
    };
    var docLink = Context.GetLink(Document);
    var pagesWithIndex = pages.Select((page, index) => new { Page = page, Index = index }).ToList();
    var matchedIndex = pagesWithIndex.
        Where(item => item.Page.Link != "/index.html" && docLink.StartsWith(item.Page.Link)).Select(item => item.Index).FirstOrDefault();
    for(var i = 0; i < pagesWithIndex.Count; i++)
    {
        var item = pagesWithIndex[i];
        string active = i == matchedIndex ? "active" : null;
        string larger = item.Page.LargerBanner ? "larger" : null;
        <li class="@larger"><a href="@(item.Page.Link)" class="@active">@item.Page.Title</a></li>
    }
}      
  </ul>
</nav>
<div style="clear: both"></div>
<div class="banner"><div class="bannertext">@saleBanner</div></div>
@RenderBody()
<footer class="footer">
  <div>
    <a href="mailto:info@mjsworks.com"><img alt="E-mail" src="/assets/images/email.png" /></a>
    <a href="https://www.facebook.com/mjsworks"><img alt="Facebook" src="/assets/images/facebook_1.png" /></a>
    <a href="https://twitter.com/mjsworks"><img alt="Twitter" src="/assets/images/twitter_2.png" /></a>
  </div>
  <div class="footerPolicy">
    <a href="/privacyPolicy.html">Privacy</a> | <a href="/faq.html">FAQ</a>
  </div>
</footer>
<script src="/assets/js/all.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '@googleAnalyticsId', '@host');
  ga('send', 'pageview');

</script>
<script>
  (function () {
    var nav = responsiveNav(".nav-collapse", {insert: "before"});
  }());
</script>
@RenderSection("Scripts", false)
</body>
</html>